/*
* @Author: hwaphon
* @Date:   2018-07-21 08:26:12
* @Last Modified by:   hwaphon
* @Last Modified time: 2018-07-22 08:51:34
*/

.search {
  padding: 0 1.2rem;
  font-size: 1.6rem;
}

.search-tips {
  padding: 1rem 1.6rem;
  border-bottom: 0.1rem solid #E6E6E6;
}