.init-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 8.8rem;
  height: 8.8rem;

  z-index: 9;

  background-color: rgba(0,0,0,.5);
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
  color: #FFF;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0;
    margin-top: 0.8rem;
  }
}

.search {
  padding: 0 1.2rem;
  font-size: 1.6rem;
}

.search-tips {
  padding: 1rem 1.6rem;
  border-bottom: 0.1rem solid #E6E6E6;
}

.pull-loading {
  padding: 1.2rem;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-size: 1.4rem;

  span {
    margin-left: 0.6rem;
  }
}