
$default-border-color: #E6E6E6;
$default-orange-color: #fb8624;

.user-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;

	width: 100%;
  height: 18rem;
  background-color: $default-orange-color;
  color: #FFF;
  font-size: 1.6rem;
}

.user-avatar {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 100%;
  background-color: #FFF;
  border: 0.4rem solid rgba(255,255,255,.5);
}

.user-name {
  margin-top: 1.6rem;
  font-size: 2rem;
}

.links {
  color: #444;
  font-size: 1.6rem;
  list-style: none;
  li {
    height: 4.2rem;
    border-bottom: 0.1rem solid #E6E6E6;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    line-height: 4.2rem;

    display: flex;
    flex-flow: row nowarp;
    justify-content: space-between;
  }

  span {
    line-height: 4.2rem;
  }
}

.links-item {
  color: #444;
}
