/*
* @Author: hwaphon
* @Date:   2018-07-21 16:23:29
* @Last Modified by:   hwaphon
* @Last Modified time: 2018-07-22 07:36:01
*/

$default-color: #999;
$default-border-color: #E6E6E6;
$default-margin: 1.2rem;
$origin-color: #e54b00;

.fang-detail {
  margin-bottom: 4rem;
}

.detail-images {
  width: 100%;
  height: 24rem;

  .van-swipe {
    height: 100%;
  }

  img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: cover;
  }
}

.detail-info {
  padding: 1.2rem 0;

  font-size: 1.6rem;
  color: #444;
}

.detail-title {
  padding: 0 1.6rem;
}

.detail-tags-time {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  font-size: 1.2rem;
  padding: $default-margin 1.6rem 0;
}

.detail-time {
  color: $default-color;
}

.detail-tags em {
  box-sizing: border-box;
  padding: 0.2rem 0.8rem;
  line-height: 1.6rem;
  text-align: center;
  border-radius: 0.2rem;
  margin-right: 0.9rem;
  font-style: normal;

  &:nth-child(n) {
    background: #edfbee;
    color: #5ec86f;
  }

  &:nth-child(2n) {
    background: #fff3e6;
    color: #ffa626;
  }

  &:nth-child(3n) {
    background: #ecf5ff;
    color: #7bbdeb;
  }
}

.detail-basic {
  border-bottom: 1px solid $default-border-color;
  margin: $default-margin * 1.5 1.6rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  .detail-item {
    padding: 0.8rem 0;
    margin-bottom: $default-margin;
    flex: 1 1 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-right: 0.1rem solid $default-border-color;

    &:last-child {
      border-right: none;
    }

    .item-content {
      font-size: 1.6rem;
      color: $origin-color;
      font-weight: bold;
      margin-bottom: $default-margin / 2;

      em {
        font-style: normal;
      }
    }

    .item-des {
      color: $default-color;
      font-size: 1.4rem;
    }
  }
}

.detail-more {
  margin-top: $default-margin;
  display: flex;
  flex-flow: row wrap;
  padding: 0 1.6rem;
  color: #444;
  font-size: 16px;
  line-height: 1.5;
  border-bottom: 1rem solid $default-border-color;
  .more-item {
    flex: 1 1 45%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: $default-margin * 1.5;
  }

  .more-des {
    color: $default-color;
    margin-right: 0.4rem;
  }
}

.detail-des {
  p {
    padding: 0 1.6rem;
    line-height: 1.5;
  }
}

.des-title {
  display: block;
  border-bottom: 0.1rem solid $default-border-color;
  line-height: 3.6rem;

  padding: 0 1.6rem;
}