/*
* @Author: hwaphon
* @Date:   2018-07-21 21:17:43
* @Last Modified by:   hwaphon
* @Last Modified time: 2018-07-22 08:24:50
*/
.back {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1rem;
  left: 1rem;
  height: 3rem;
  width: 3rem;
  background: rgba(0,0,0,0.4);
  border-radius: 50%;

  span {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: noraml;
  }
}
